@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.contact {
  max-width: 960px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (--media-max-small) {
    box-sizing: initial;
    padding-left: 0;
  }

}

.contactSmall {
  width: 100%;
  background-color: #fff;
}

.contactContainer > * {
  margin: 0;
}

.contact__header {
  color: hsla(0, 0%, 0%, 0.8);
  text-align: center;
  font-size: 2em;
  margin-bottom: 80px;

  @media (--media-max-small) {
    margin-bottom: 0.5em; 
  }
}

.contact__form {
  width: 100%;
  border: 1px solid #d3d3d396;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 42px 32px 32px;
  box-shadow: 0 8px 16px rgba(0,2,12,.12); /*0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/

  @media (--media-max-medium) {
    box-shadow: none;
    padding: 0;
    border: none;
    border-radius: 0;
  }
  
  @nest & form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
    grid-template-areas: "fname lname"
                         "email zipcode"
                         "message message"
                         "submit submit";
                         grid-gap: 24px;
                         

    @media (--media-max-medium) {
      display: block;
    }
  }

  @nest & button {
    border: 1px solid #091540;
    border-radius: 2px;
    background-color: #091540;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.08em;

    @media (--media-max-medium) {
      width: 100%;
      padding: 12px;
    }

    @media (--media-max-small) {
      padding: 18px;
    }
  }

  @nest & div {
    width: 100%;
    text-align: left;
  }

  @nest & div * {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 6px;
    
    @media (--media-max-small) {
      padding: 8px 0;
    }
  }

  @nest & div label {
    margin-bottom: 6px;

    @media (--media-max-medium) {
      padding: 4px 0;
    }

    @media (--media-max-small) {
      padding: 12px 0 0;
    }
  }
}