@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.landing {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @nest & h1 {
    margin-top: 0;
  }

  @media (--media-max-medium) {
    height: auto;
    padding-top: 120px;
  }

}

.landing__container {
  max-width: calc(930px - 2em);
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 60px;

  @media (--media-max-medium) {
    padding: 0;
    
    @nest & h1 {
      padding: 0 24px;
      line-height: initial;
      font-size: 3.6em;
    }

    @nest & a {
      margin: 12px  24px !important;
    }
  }
}

.landing__grid {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;

   
  @media (--media-max-medium) {
    display: block;
    text-align: left;
    padding: 0;
  }
}

.landing__grid > div {
  padding: 1.5em;
  
  @media (--media-max-medium) {
    padding: 2em;
  }
}

.landing__container h1 {
  font-size: 4em;
}

.landing__image {
  position: relative;
  top: 0;
  left: 0;
}

a.no-decoration {
  text-decoration: none;
  color: inherit;
}

.shape {

  @media (--media-max-medium) {
    display: none;
  }

  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #4F6A7C, transparent);
  /*clip-path: polygon(0% 80%, 0% 100%, 100% 100%);*/

  animation-name: pivot;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pivot {
  0% {
    clip-path: polygon(0% 100%, 0% 100%, 60% 60%);
  }
  100% {
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  }
}

.landing2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20vh;  

  @nest & h1 {
    font-size: 2em;
  }

  @nest & h4 {
    margin: 0;
  }
     
  @media (--media-max-medium) {
    background-image: none !important;
    height: inherit;
    padding-top: 60px;
    text-align: left;

    @nest & button {
      width: 100%;
      padding: 12px;
      margin-top: 2em;
    }
  }
}

.leftImage {
  position: relative;
   
  @media (--media-max-medium) {
    display: none;
  }
}

.square {
  width: 50%;
  height: 100%;
  border: 4px solid black;
  position: absolute;
}

.buttonOutline {
  display: inline-block;
  text-decoration: none;
  border: 2px solid white;
  padding: 12px 32px;
  font-weight: 600;
  letter-spacing: .08em;
  transition: .2s;
  color: #fff;
}

.buttonOutline:hover {
  color: black;
  background-color: white;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #4F6A7C;
  padding: 12px 32px;
  font-weight: 600;
  letter-spacing: .08em;
  transition: .2s;
  background-color: #4F6A7C;
  color: #fff;
}

.button:hover {
  background-color: #091540;
  border-color: #091540;
}