@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.contentContainer {
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 180px auto;

  @media (--media-max-medium) {
    margin: 0;
    padding: 1.5em 0;

    @nest & h1 {
      text-align: left;
    }
  }

  @media (--media-min-xlarge) {
    max-width: 1240px;
  }
}

.contentContainerWide {
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-max-medium) {
    margin: 0;
    padding: 1.5em;
  }

  @media (--media-min-large) {
    max-width: 1600px;
  }
}
